/* CSS RESET : Resets predefined browser styles. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*body {
	position: relative;
	width: 40%;
	margin: auto;
	background: #BDBDBD;
}

button {
	position: relative;
	display: block;
	width: 50%;
	text-align: left;
}*/

body {
  width:760px;
  margin:40px auto;
  font-family: georgia, sans;
}

h1 {
  border-bottom:1px solid #dedede;
  margin-bottom:20px;
  padding-bottom:20px;
  font-size: 6em;
}

h3 {
	font-family: Helvetica, sans serif;

}

button {
	clear: both;
}

span {
	color: yellow;
}

.food-box {
	font-family: georgia, sans;
	font-size: 0.8em;
	color: white;
	background: black;
	height: 0.6em;
	width: auto;
	float: left;
	text-align: left;
	margin-top: 10px;
	margin-right: 10px;
	padding: 1.5em;
	border-radius: 2.3em;
	letter-spacing:0.2em;
}

.selected {
	background: #00ADC4;
}

#totalCalorie {
	letter-spacing:0.2em;
}

#date {
	font-size: 0.8em;
	color: #D92727;

}

#source {
	clear: both;
	font-size: 0.8em;
	padding-top: 100px;
}