html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#wrapper {
	height: 100%;
	width: 100%;
	position: relative;
}

.answer-div {
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	top: 10%;
	height: 89%;
	width: 24.9%;
	float: left;
	/*border: 1px solid blue;*/
}

.title {
	position: absolute;
	display: table;
	height: 6%;
	width: 25%;
	float: left;
	background-color: black;
	/*border: 1px solid orange;*/
}

.title h1 {
	font: bold italic 16pt Helvetica, sans-serif;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;	
}

#map {
	height: 100%;
	width: 75%;
	float: right;
	border-left: 1px solid black;
}

.form-container {
	padding: 5px 0 0 0;
}

.form-title {
	font: bold 11pt Helvetica, sans-serif;
	text-align: center;
	margin-bottom: 5px;
}

.hint-box {
	padding: 5px 0 0 0;
}

#answers-title {
	font: bold 15pt Helvetica, sans-serif;
	margin: 0 10%;
	border-bottom: 1px solid black;
}

.status {
	font: 15pt Helvetica, sans-serif;
	color: hsl(0, 0%, 50%);
	margin: 0 0 0 10%;
	padding: 10px 0;	
}

#answer-count, #guesses-count {
	font-weight: bolder;
	color: hsl(0,0%,30%);
}

#hoods-to-go {
	font-weight: bolder;
	color: hsl(0, 70%,70%);
}

.guesses {
	margin: 0 10% 0 10%;
	padding: 10px 0;
}

.guess {
	font: bold italic 15pt Helvetica, sans-serif;
	color: hsla(10, 100%, 50%, 1);
	padding-bottom: 5px;
}

.correct {
	color: hsla(200, 100%, 50%, 1);
	/*font-weight: bold;*/
}

.no-answers-found {
	font: bold 20pt Helvetica, sans-serif;
	text-align: center;
	line-height: 30pt;
	margin: 5% auto 0 auto;
	width: 80%;
	padding: 0px 10px 30px 10px;
	color: hsla(0,0%,30%,1);
	animation: fadein 1s;
	-moz-animation: fadein 1s;
	-webkit-animation: fadein 1s;
	-o-animation: fadein 1s;	
}

.hidden {
	display: none;
}

#footer {
	position: relative;
	bottom: 0;
	width: 100%;
	/*border: 1px solid orange;*/
	text-align: center;	
	font-weight: bold;
}

#footer input {
	margin: 0 auto;
}