html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#wrapper {
	height: 100%;
	width: 100%;
}

.title {
	position: absolute;
	display: block;
	height: 10%;
	width: 25%;
	float: left;
	/*border: 1px solid orange;*/
}

.title h1 {
	font: bold italic 16pt Helvetica, sans-serif;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 4%;
}

#map {
	height: 100%;
	width: 74%;
	float: right;
	border-left: 1px solid black;
}

.answer-div {
	margin: 0;
	padding: 0;
	position: absolute;
	display: block;
	top: 10%;
	height: 89%;
	width: 25%;
	float: left;
	/*border: 1px solid blue;*/
}

#answers-title {
	font: bold 15pt Helvetica, sans-serif;
	margin: 0 10%;
	border-bottom: 1px solid black;
}

.answers {
	margin: 0 10% 0 10%;
	padding: 10px 0;
}

.answer {
	font: bold italic 15pt Helvetica, sans-serif;
	color: hsla(10, 100%, 50%, 1);
	padding-bottom: 5px;
}

.correct {
	color: hsla(200, 100%, 50%, 1);
	/*font-weight: bold;*/
}

.no-answers-found {
	font: bold 20pt Helvetica, sans-serif;
	text-align: center;
	margin: 10% auto 0 auto;
	width: 60%;
	padding: 0px 10px 30px 10px;
	color: hsla(0,0%,30%,1);
	animation: fadein 1s;
	-moz-animation: fadein 1s;
	-webkit-animation: fadein 1s;
	-o-animation: fadein 1s;	
}

.hidden {
	display: none;
}