@charset "UTF-8";
/* CSS Document */

div#box{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	float: none;
	height: 700px;
	background-repeat: no-repeat;
	font-family: "Arial, Helvetica", sans-serif;
	font-size: 20px;
	color: #000;
}